/* 공통 스타일 */

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
img {
  display: block;
}
.btn {
  border-radius: 10px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(85, 81, 255);
  cursor: pointer;
  user-select: none;
  transition: transform .2s;
}
.btn:hover {
  transform: translateY(-2px);
}

/* header */














